<div class="slide">
  <div class="wrap ">
    <table>
      <tr>
        <td width="50%">
          <div class="center">
            <%= image_tag 'collab_labo.jpg', width: '100%' %>
          </div>
        </td>
        <td>
          <h1>
          <%= title %>
          </h1>
        </td>
      </tr>
    </table>
  </div>
</div>



<div class="slide">
  <div class="wrap">
    <table>
      <tr>
        <td rowspan="2">
          <%= image_tag 'pres/PL.jpg', class: 'circle thick-border', width: '70%' %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h1>
          PL
          </h1>
          <%= render 'pl_infos' %>
          <h1>À propos</h1>
          <ul>
            <li>
              Parcours
            </li>
            <li>
              Touche à tout
            </li>
            <li>
              Développeur web
            </li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>



<div class="slide">
  <div class="wrap">
    <h1>
    <span class="faded">Ojbectif:</span> Inviter à la réflexion
    </h1>
    <br>
    <br>
    <strong>
    Qui êtes vous?
    </strong>
    <ul>
      <li>étudiants</li>
      <li>freelances</li>
      <li>entrepreneurs</li>
      <li>employés (temps plein/temps partiel)</li>
      <li>50/50</li>
      <li>recherche d'emploi</li>
      <li>plusieurs emplois</li>
    </ul>
  </div>
</div>
<div class="slide problematique">
  <div class="wrap">
    <h1>
    <span class="faded">Une référence:</span> Mon père
    </h1>
    <h2>Le cas Martinez</h2>
    <ul>
      <li>Études en soins infirmiers</li>
      <li>Un seul employeur</li>
      <li>Retraite comme prévue</li>
    </ul>
  </div>
</div>

<div class="slide problematique">
  <div class="wrap">



	<table>
    	<tr>
    		<td colspan="3">
    			<h1>
    				Déplacement <span class="faded">de la valeur</span>
    			</h1>
    		</td>
    	</tr>
    	<tr>
    		<th></th>
    		<th><h2>Jadis</h2></th>
    		<th><h2 class="faded">Actuel</h2></th>
    	</tr>
    	<tr>
    		<td></td>
    		<td>Matériel et production de biens</td>
    		<td>Créativité & innovation & service</td>
    	</tr>

    </table>
	</div>
</div>

<div class="slide problematique">
  <div class="wrap">


	<table>

    	<tr>
    		<td colspan="3">
    			<h1>
    				La magie <span class="faded">de la valeur</span>
    			</h1>
    		</td>
    	</tr>
    	<tr>
    		<td></td>
    		<td><h2>Jadis</h2></td>
    		<td><h2 class="faded">Magie</h2></td>
    	</tr>
    	<tr>
    		<td>Entrées/Dépenses</td>
    		<td>6 000 $</td>
    		<td><strong>1 000 $</strong></td>
    	</tr>
    	<tr>
    		<td>Ventes</td>
    		<td>10 000 $</td>
    		<td>10 000 $</td>
    	</tr>
    	<tr>
    		<td>Profits</td>
    		<td>4 000 $</td>
    		<td><strong>9 000 $</strong></td>
    	</tr>
    </table>


  </div>
</div>






<div class="slide problematique">
  <div class="wrap">
    <h1>Mondial <span class="fa fa-globe"></span></h1>
    <table>
      <tr>
        <td>
          <ul>
            <li>Approximativement 7,43 Milliards mondialement</li>
            <li>Tout est maintenant possible</li>
            <li><span class="fa fa-plus-circle"></span> Démocratisation de tout</li>
            <li><span class="fa fa-plus-circle"></span> Choix</li>
            <li><span class="fa fa-plus-circle"></span> Libertés individuelles</li>
            <li><span class="fa fa-minus-circle"></span> Frontières</li>
          </ul>
        </td>
        <td width="50%">
          <%= image_tag 'pres/World-airline-routemap-2009.png', width: '98%' %>
        </td>

      </tr>
    </table>
  </div>
</div>

<div class="slide problematique">
  <div class="wrap">
    <h1>Vagues de brutalisation massives <i class="fa fa-warning"></i> </h1>
    <ul>
      <li><i class="fa fa-cogs"></i> Industrialisation</li>
      <li><i class="fa fa-desktop"></i> Informatique</li>
      <li><i class="fa fa-android"></i> Robotique</li>
      <li><i class="fa fa-ambulance"></i> Intelligence artificielle</li>
    </ul>
  </div>
</div>

<div class="slide problematique">
  <div class="wrap">
    <h1>
    Tendances
    </h1>
    <ul>
      <li>Freelancing</li>
      <li>Co-working</li>
      <li>Plusieurs roles, plusieurs sources de revenus</li>
      <li>Outsourcing</li>
    </ul>
    <h1>Dualité</h1>
    <pre>
Temps                               vs     Argent
Loisir                              vs     Travail
Simplicité                          vs     Confort
Liberté                             vs     Responsabilité
Versatilité (Jack of all trades)    vs     Spécialisation
    </pre>
  </div>
</div>
<div class="slide think">
  <div class="wrap">
    <h1>
    Réfléchissez, il est encore temps!
    </h1>
    <ul>
    <li><i class="fa fa-heartbeat"></i> Vos besoins?</li>
    <li><i class="fa fa-thumbs-o-up"></i> Vos ambitions?</li>
    <li><i class="fa fa-flask"></i> Projets personnels?</li>
    <li><i class="fa fa-plane"></i> Voyages, découvertes, expériences?</li>
    </ul>
  </div>
</div>
<div class="slide solution">
  <div class="wrap">
    <h1><span class="faded">Pour améliorer sa situation:</span> <br>se lancer en affaires.</h1>
    <ul>
      <li>Votre juste milieu (dualité)</li>
      <li>Gratification</li>
      <li>Bonus: vous n'avez presque plus le droit de chialer</li>
    </ul>
  </div>
</div>
<div class="slide solution">
  <div class="wrap">

    <table>
      <tr valign="top">
        <td width="40%">
          <h2>Le networking</h2>
          </p>
            <strong>
            La force du loup c'est la meute, <br>
            La force de la meute c'est le loup.
            </strong>
          <p>
          <p>-- Jungle Book</p>
        </td>
        <td>

          <h2>The strength of weak ties.</h2>
          <%= image_tag 'pres/weak_ties.jpg', class: 'thin-black-border', width: '60%' %>
          <p>-- Mark Granovetter</p>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="slide solution">
  <div class="wrap">
    <h1>Investissez dans vous même.</h1>
    <ul>
      <li>Formation</li>
      <li>Expérimentation</li>
      <li>Écoutez des podcasts.</li>
      <li>Voyage</li>
    </ul>
  </div>
</div>
<div class="slide solution">
  <div class="wrap">
    <h1>
      La simplicité volontaire
    </h1>

    <table>
    	<tr>
    		<td width="65%">
				    <ul>
				      <li>Réduction du poids financier: Simplifiez, débarassez</li>
				      <li>Réduire les besoins
				        <ul>
				          <li><span class="fa fa-plus-circle"></span> Augmente sécurité</li>
				          <li><span class="fa fa-minus-circle"></span> Réduit les charges</li>
				          <li><span class="fa fa-plus-circle"></span> Augmente autonomie</li>
				        </ul>
				      </li>
				      <li>voir: Serge Mongeau</li>
				    </ul>

    		</td>
    		<td>
    			<h2><span class="faded">"Constater qu'on a besoin de rien,</span> c'est aussi découvrir que toutes les possibilités s'offrent à nous."</h2>
    		</td>
    	</tr>
    </table>
  </div>
</div>

<div class="slide solution">
  <div class="wrap">
    <h1>Bonus pack <span class="fa fa-rocket"></span></h1>
    <ul>
      <li>Mettez le focus sur vos forces</li>
      <li>La loi de Pareto (<strong>80% / 20%</strong>)</li>
      <li>Choisissez</li>
      <li>Déléguez plus qu'hier</li>
    </ul>
  </div>
</div>
<div class="slide solution">
  <div class="wrap">
          <h2>
            <span class="faded">Démarche structurée:</span>
            Voie rapide et efficace
          </h2>

    <table>
      <tr>
        <th width="50%">
        </th>
        <th>
        </th>
      </tr>
      <tr>
        <td>
        <strong>La structure:</strong>
          <ul>
            <li>facilite la répétition</li>
            <li>améliore la qualitté de la réponse</li>
            <li>augmente la stabilité</li>
            <li>favorise la confiance</li>
            <li>favorise les finances en santé</li>
          </ul>
          </strong>

        </td>
        <td>
          <ul>
            <li>Armée, Police</li>
            <li>Clergé, Église</li>
            <li>Mafia, motards, le crime organisé</li>
            <li>Certains groupes ethniques comme les chinois ou la communauté juive</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="slide">
  <div class="wrap">
    <h1>Wrap up!!!</h1>
    <ul>
      <li>Le défi ne se trouve pas au niveau du travail lui même</li>
      <li><strong>Qualité de vie</strong>, c'est ce qui compte réellement. Autant s'en occuper.</li>
      <li>Votre vie, vos intérêts, vos ambitions, votre personnalité</li>
      <li>Entre deux époques, retour du balancier</li>
      <li>Soyez créatifs, ambitieux, différents, innovez, bougez.</li>
      <li>Entourez-vous !</li>
    </ul>
  </div>
</div>
<div class="slide">
  <div class="wrap">
    <table>
      <tr>
        <td rowspan="2">
          <%= image_tag 'pres/PL.jpg', class: 'circle thick-border', width: '70%' %>
        </td>
      </tr>
      <tr>
        <td></td>
        <td>
          <h1>Merci</h1>
          <ul>
            <li>
              Ne pas hésiter à venir me voir ou me contacter.
            </li>
            <li>
              J'invite à une discussion plus large.
            </li>
            <li>
              Je propose une réponse à la problématique actuelle: <a href="http://collabmachine.com">Collab Machine</a>
            </li>
            <li>
              J'aime beaucoup le café.
            </li>
          </ul>
          <h1>
          Infos
          </h1>
          <%= render 'pl_infos' %>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="slide">
  <div class="wrap">
    <h1>Ressources</h1>
    <ul>
      <li>Tim Ferriss (Happy movie, podcasts, books: 4 hour work week, Tools of titans, Youtube)</li>
      <li>Frederick Winslow Taylor (wikipedia)</li>
      <li>Intelligence artificielle:
        <a href="https://thinkgrowth.org/silicon-valley-is-right-our-jobs-are-already-disappearing-c1634350b3d8#.z498bjc3m">Think growth</a>
      </li>
      <li>Mark Granovetter</li>
      <li>Serge Mongeau: <a href="http://simplicitevolontaire.org/la-simplicite-volontaire/livres/la-simplicite-volontaire-plus-que-jamais-serge-mongeau/">La simplicité volontaire</a></li>
      <li>Kevin Kelly (co-founder WIRED)</li>
      <li>Magnus Walker, human icon</li>
      <li><a href="https://www.facebook.com/collabmachinecom/">Page facebook de Collab Machine</a></li>
      <li>TED talks</li>
    </ul>
  </div>
</div>
