<!DOCTYPE html>
<html lang="<%= I18n.locale %>">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="turbolinks-cache-control" content="no-cache">

    <%= display_meta_tags %>

    <% icon = "favicon-#{Rails.env}.ico"  %>
    <%= favicon_link_tag icon, type: "image/x-icon" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track'=> true %>

    <script src='https://meet.jit.si/external_api.js'></script>
    <%= render "shared/server_rendered_data" %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track'=> true %>

    <% unless controller_name == "hello" %>
        <%= javascript_include_tag 'https://js.stripe.com/v2/' %>
        <%= javascript_include_tag 'https://js.stripe.com/v3/' %>
        <script type='text/javascript'>
            window.Config = {
                stripe_publishable_key: "<%= Figaro.env.stripe_publishable_key %>"
            }
        </script>
    <% end %>
    <%= csrf_meta_tags %>

    <%= render 'layouts/vendor/google_analytics' %>
    <%#= render 'shared/tawkto' if show_tawk_to? %>
</head>

<body class="<%= controller_name %> <%= "action-#{controller_name}-#{action_name}" %> <%= @body_classes %>">
    <%= render 'layouts/topnavbar' %>
    
    <% if breadcrumb_path.present? %>
        <%= render partial: 'shared/breadcrumb_navigation', :locals => {:nav => navigation_add(breadcrumb_path)} %>
    <% end %>
    
    <div id="page-wrapper" class="container main">
        <div id="flash-container">
            <%= render partial: 'shared/notices_banner' %>
        </div>
        <%= yield %>
        <%= render 'shared/footer' %>

        <%= render partial: 'shared/veezav_bubble' if show_veeza? %>
        <%= render partial: 'shared/create_product_modals' %>
        <%= render partial: 'shared/create_project_modals' %>
    </div>
</body>
</html>
